/* General styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #001f3f;
    color: #fff;
    background-image: url('stars.png');
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

#logo {
    width: 180px;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.character {
    text-align: center;
    margin: 10px;
}

.character img {
    width: 150px;
    height: 200px;
    border-radius: 10px;
    border: 2px solid #fff;
}

.story {
    text-align: center;
    padding: 40px;
}

.story h1 {
    font-size: 25px;
    margin-bottom: 20px;
}

.story p {
    font-size: 15px;
    margin-bottom: 20px;
}

.story img {
    width: 200px;
    border-radius: 10px;
}

/* Responsive styles for 9:16 phone format */
@media (max-width: 576px) {
    header {
        flex-direction: row; /* Держим логотип и навигацию на одной линии */
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    nav ul {
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
    }

    nav ul li {
        margin: 5px;
    }

    nav ul li a {
        font-size: 10px; /* Изменение размера шрифта для навигационных ссылок */
    }

    .characters {
        flex-direction: row; /* Держим картинки на одной линии */
        justify-content: flex-start;
    }

    .character {
        flex: 1 1 auto; /* Запрещаем изменение размера картинок */
    }

    .character img {
        width: 100px;
        height: 150px;
    }

    .story h1 {
        font-size: 20px;
    }

    .story p {
        font-size: 15px;
    }

    .story img {
        width: 150px;
    }
}
