/* General styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #001f3f;
    color: #fff;
    background-image: url('stars.png');
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#logo {
    width: 180px;
    -webkit-user-drag: none; /* Запрещает перетаскивание изображений в Safari и Chrome */
    -moz-user-drag: none; /* Firefox */
    -ms-user-drag: none; /* Internet Explorer/Edge */
    user-drag: none;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 1;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: opacity 0.5s; /* добавлен переход для плавности изменения прозрачности */
}

nav ul li a:hover, 
nav ul li a:active {
    opacity: 0.5; /* уменьшение прозрачности до 70% */
}

nav ul li a i {
    margin: 4px; /* Добавляем отступ для иконок */
}

.characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.character {
    text-align: center;
    margin: 20px;
}

.character img {
    width: 150px;
    height: 200px;
    border-radius: 8px;
    border: 2px solid #fff;
    -webkit-user-drag: none; /* Запрещает перетаскивание изображений в Safari и Chrome */
    -moz-user-drag: none; /* Firefox */
    -ms-user-drag: none; /* Internet Explorer/Edge */
    user-drag: none;
}

.story {
    text-align: center;
    padding: 40px;
}

.story h1 {
    font-size: 25px;
    margin-bottom: 20px;
}

.story p {
    font-size: 15px;
    margin-bottom: 20px;
}

.story img {
    width: 200px;
    border-radius: 10px;
    -webkit-user-drag: none; /* Запрещает перетаскивание изображений в Safari и Chrome */
    -moz-user-drag: none; /* Firefox */
    -ms-user-drag: none; /* Internet Explorer/Edge */
    user-drag: none;
}

/* Responsive styles for 9:16 phone format */
@media (max-width: 576px) {
    header {
        flex-direction: row; /* Держим логотип и навигацию на одной линии */
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    nav ul {
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
    }

    nav ul li {
        margin: 8px;
    }

    nav ul li a {
        font-size: 16px; /* Изменение размера шрифта для навигационных ссылок */
    }

    .characters {
        flex-direction: row; /* Держим картинки на одной линии */
        justify-content: flex-start;
    }

    .character {
        flex: 1 1 100px; /* Запрещаем изменение размера картинок */
    }

    .character img {
        width: 100px;
        height: 150px;
    }

    .story h1 {
        font-size: 20px;
    }

    .story p {
        font-size: 15px;
    }

    .story img {
        width: 150px;
    }
}
