<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DUBCORP</title>
    <link rel="stylesheet" href="../assets/css/news.css">
    <link rel="icon" href="favicon.png" type="image/png"> <!-- Добавьте эту строку -->
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-solid-straight/css/uicons-solid-straight.css'>
</head>
<body>
    <header>
        <img src="../image/logo/logo.png" alt="logo" id="logo">
        <nav>
            <ul>
                <li><a href="../index.html"><i class="fi fi-ss-home"></i></a></li>
                <li><a href="Library.html"><i class="fi fi-ss-apps"></i></a></li>
                <li><a href="News.html"><i class="fi fi-ss-newspaper"></i></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="characters">
        </section>
        <section class="story">
            <h1>Скоро</h1>
        </section>
    </main>
    <script src="../assets/js/scripts.js"></script>
</body>
</html>
